<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.uml.UserManage.dao.RolePermissionMapper">

    <resultMap type="com.uml.UserManage.entity.RolePermission" id="RolePermissionMap">
        <result property="roleId" column="role_id" jdbcType="INTEGER"/>
        <result property="permissionId" column="permission_id" jdbcType="INTEGER"/>
    </resultMap>

    <!-- 分配角色的权限 -->
    <insert id="insertRolePermission" parameterType="com.uml.UserManage.entity.RolePermission">
        insert into role_permissions(role_id, permission_id) values(#{roleId}, #{permissionId})
    </insert>
</mapper>

